Proyect/force-app/main/default/flows/Result.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Asigment</name>
        <label>Asigment</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!SearchName.Name} &lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SearchName</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Skill</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Skill__c</picklistField>
        <picklistObject>Module__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Result</label>
    <loops>
        <name>SearchName</name>
        <label>SearchName</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>SearchFields</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Result_New</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>SearchFields</name>
        <label>SearchFields</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SearchName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skill__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectSkill</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Module__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Result_New</name>
        <label>Result</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Result</name>
            <fieldText>&lt;p&gt;{!Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Skill_Fields</name>
        <label>Skill</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SearchFields</targetReference>
        </connector>
        <fields>
            <name>SelectSkill</name>
            <choiceReferences>Skill</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Skill</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skill_Fields</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
